body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-custom-purple {
  background-color: #582885 !important;
  color: white; 
}

.btn-custom-purple {
  background-color: #582885 !important;
  border-color: #582885 !important;
  color: white !important;
}

.btn-custom-purple:hover {
    background-color: #46206a !important; 
    border-color: #46206a !important;
    color: white !important;
}
